@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* horizontal aline */
    justify-content: center;   
    /* vertical aline */
    align-items: center;       
    background: linear-gradient(60deg, #0a0a0a, #3a4452);
}

.container{
    border: 1px solid #717377;
    border-radius: 16px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(115, 115, 115, 0.5);
}
